<!-- dirprojeto/aplicativo/templates/assunto02/capitulo01/titulos/assunto02_visualizar.html -->
{% extends 'assunto03/capitulo01/titulos/base.html' %}
{% load static %}

{% block titudos %}
<main class="main-content">

    <h1>TABELA1</h1>
    <p>{{ mensagem }}</p>

    <div class="table-container">
        <table class="table table-striped table-hover">
            <thead class="table-header">
                <tr class="table-row">
                    <th>ID</th>
                    <th>Campo 1</th>
                    <th>Campo 2</th>

                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for Campo in TabelaSis2_list %}
                <tr>
                    <td data-label="ID">{{ Campo.id }}</td>
                    <td data-label="Campo 1">{{ Campo.campo1 }}</td>
                    <td data-label="Campo 2">{{ Campo.campo2 }}</td>
                    <td data-label="Editar">
                        <a href="{% url 'assunto03:assunto03_Capitulo01_Update2_View' Campo.id %}"
                           target="_blank" rel="noopener noreferrer" class="btn btn-warning btn-sm">
                           <i class="fas fa-edit"></i>Editar
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="no-data">Nenhum produto encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Paginação -->
        {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</main>
{% endblock titudos %}
