<!--aplicativo\templates\assunto01\capitulo01\titulos\base.html-->
{% extends 'assunto03/base.html' %}
{% load static %}

{% block conteudox %}
<!-- Sidebar - Menu Lateral -->
<div class="sidebar">

    <ul class="links">
        <!-- TECNOLOGIA E COMPUTAÇÃO -->
        <h4>Inicio</h4>
        <li><span><i class="fas fa-laptop-code"></i></span><a
                href="{% url 'assunto03:assunto03_capitulo01_View_inicio' %}">Inicio</a></li>
        <h4>CADASTRO 01</h4>
        <li><span><i class="fas fa-edit"></i></span><a
                href="{% url 'assunto03:assunto03_capitulo01_cadastro_View' %}">Cadastro 01</a></li>
        <li><span><i class="fas fa-list-alt"></i></span><a
                href="{% url 'assunto03:assunto03_capitulo01_visualizar_View' %}">Visualizar 01</a></li>
        <h4>CADASTRO 02</h4>
        <li><span><i class="fas fa-edit"></i></span><a
                href="{% url 'assunto03:assunto03_capitulo01_cadastro_TabelaSis2_View' %}">Cadastro 02</a></li>
        <li><span><i class="fas fa-list-alt"></i></span><a
                href="{% url 'assunto03:assunto03_capitulo01_visualizar2_View' %}">Visualizar 02</a></li>

    </ul>
</div>



{% block titudos %}
{% endblock titudos %}
{% endblock conteudox %}