<!-- aplicativo/templates/assunto01/capitulo01/titulos/base.html -->
{% extends 'assunto01/base.html' %}
{% load static %}

{% block conteudox %}
<!-- Sidebar (Menu Lateral) -->
<div class="leftSide sidebar">
  <ul class="links">
    <li><span><i class="fas fa-home"></i></span><a href="{% url 'assunto01:capitulo01_inicio' %}">capitulo01_inicio</a></li>

    <li><span><i class="fas fa-file-alt"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-list"></i></span><a href="#">Título 02</a></li>
    <li><span><i class="fas fa-home"></i></span><a href="#">Título 03</a></li>
    <li><span><i class="fas fa-file-alt"></i></span><a href="#">Título 04</a></li>
    <li><span><i class="fas fa-pen"></i></span><a href="#">Título 05</a></li>
    <li><span><i class="fas fa-pencil-alt"></i></span><a href="#">Título 06</a></li>
    <li><span><i class="fas fa-edit"></i></span><a href="#">Título 06</a></li>
    <li><span><i class="fas fa-clipboard"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-clipboard-list"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-check-square"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-paper-plane"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-user-edit"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-list-alt"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-pencil-alt"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-user"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-envelope"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-phone"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-lock"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-key"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-search"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-bell"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-star"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-heart"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-arrow-left"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-arrow-right"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-arrow-up"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-arrow-down"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-bars"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-times"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-laptop"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-desktop"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-wifi"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-globe"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-cloud"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-file"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-folder"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-camera"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-music"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fas fa-video"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fab fa-facebook"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fab fa-twitter"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fab fa-instagram"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fab fa-linkedin"></i></span><a href="#">Título 01</a></li>
    <li><span><i class="fab fa-youtube"></i></span><a href="#">Título 01</a></li>

    <hr>

    <li class="logout-link">
      <span><i class="fas fa-sign-out-alt"></i></span><a href="#">Sair</a>
    </li>
  </ul>
</div>

{% block titudos %}
{% endblock titudos %}
{% endblock conteudox %}
