<!--aplicativo\templates\assunto01\capitulo01\titulos\base.html-->
{% extends 'assunto02/base.html' %}
{% load static %}

{% block conteudox %}
<!-- Sidebar - Menu Lateral -->
<div class="sidebar">

    <ul class="links">
        <!-- TECNOLOGIA E COMPUTAÇÃO -->
        <h4>Inicio</h4>
        <li><span><i class="fas fa-laptop-code"></i></span><a
                href="{% url 'assunto02:assunto02_capitulo01_View_inicio' %}">Inicio</a></li>
        <h4>asdf</h4>
        <li><span><i class="fas fa-edit"></i></span><a
                href="{% url 'assunto02:assunto02_capitulo01_cadastro_View' %}">Cadastro</a></li>
        <li><span><i class="fas fa-list-alt"></i></span><a
                href="{% url 'assunto02:assunto02_capitulo01_visualizar_View' %}">Visualizar</a></li>
        <li><span><i class="fas fa-list-alt"></i></span><a
                href="{% url 'assunto02:assunto02_capitulo01_Tabela1ListView' %}">Visualizar tabela</a></li>

    </ul>
</div>



{% block titudos %}
{% endblock titudos %}
{% endblock conteudox %}