{% extends 'controles/usuarios/titulos/base.html' %}
{% load static %} <!-- Carregar arquivos estáticos -->

{% block titudos %}
<!-- Link para o arquivo CSS externo -->
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
<div class="body">
    <div class="container">
        <h1>Usuários</h1>
        <p>{{ mensagem }}</p>
        <!-- Tabela de Produtos -->
        <table class="tabela-form">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuário</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Email</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for User in User_list %}
                <tr>
                    <td data-label="ID">{{ User.id }}</td>
                    <td data-label="Campo 1">{{ User.username }}</td>
                    <td data-label="Campo 1">{{ User.first_name }}</td>
                    <td data-label="Campo 1">{{ User.last_name }}</td>
                    <td data-label="Campo 2">{{ User.email }}</td>
                    <td data-label="Editar"><a href="{% url 'usuarios:controles_usuarios_Update_View' User.id %}"
                            target="_blank" rel="noopener noreferrer" class="glass-button"><i
                                class="fas fa-edit"></i></a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="no-data">Nenhum produto encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Paginação -->
        <div class="pagination">
            {% if is_paginated %}
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
            {% endif %}
            {% endif %}
        </div>


    </div>

</div>
<!-- Fim do conteúdo -->


{% endblock titudos %}