<!--aplicativo\templates\assunto01\base.html-->
{% extends 'aplicativo_base.html' %}
{% load static %}  <!-- Carregar arquivos estáticos -->

{% block content %}
<!-- Header B - Navbar de Navegação -->
    <header class="headerb">
        <nav class="main-menu">
            <a class="menu-item active" href="{% url 'assunto01:assunto01_capitulo01_titulo01' %}"><i class="fas fa-book"></i>Capitulo 01</a>
            <a class="menu-item" href="#"><i class="fas fa-money-bill-wave"></i>Financeiro</a>
            <a class="menu-item" href="#"><i class="fas fa-users"></i>--</a>
            <a class="menu-item" href="#"><i class="fas fa-boxes"></i>--</a>
            <a class="menu-item" href="{% url 'home:home_inicio_View' %}"><i class="fas fa-chart-bar"></i>--</a>

        </nav>
        <div class="submenu">
           
            <a class="submenu-item" href="#">
                <i class="fas fa-headset"></i>
                Suporte
            </a>
            
        </div>
    </header>

{% block conteudox %}


{% endblock conteudox %}

{% endblock content %}
