<!--dirprojeto\aplicativo\templates\index\pagina0.html-->
{% extends 'base.html' %}
{% load static %}

{% block titulo %}<title>PYTHON e DJANGO</title>{% endblock %}
{% block content %}

<!-- Link para o arquivo CSS externo -->
<link rel="stylesheet" type="text/css" href="{% static 'css/pagina.css' %}">
<div class="container">
    <h1>PÁGINA</h1>
    
    <p>
        Texto 1 - Danillo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Vestibulum auctor turpis non eros vehicula, nec consectetur justo fermentum.
    </p>

    <pre>
    <code>
def exemplo():
    print("Código formatado corretamente")
    return True
    </code>
    </pre>

    <p>
        Texto 2 - Danillo. Nulla facilisi. Donec at neque nec odio tincidunt sodales at id magna.
    </p>




</div>


{% endblock %}
