<!--aplicativo\templates\assunto01\capitulo01\titulos\inicio.html-->
{% extends 'empresas/titulos/base.html' %}
{% load static %} <!-- Carregar arquivos estáticos -->

{% block titudos %}
<!-- conteúdo da página -->
<main class="main-content">
<h1>EMPRESAS</h1>
<p>Bem-vindo à seção de Empresas. Aqui você pode gerenciar todas as informações relacionadas às empresas cadastradas no sistema. Utilize o menu lateral para navegar entre as opções disponíveis, como cadastro, visualização e outras funcionalidades.</p>

{% endblock titudos %}

</code>